
{% extends "base.html" %}

 {% block content %}
  <p>{{ filename }} has been successfully uploaded</p>
    <br>
    <p> The first page of the content is given below </p>
    <p>{{ text_content }}</p>
    <br>
    <p>The base similarity computed among the uploaded files is </p>
    <p>{{ base_csa_correlation }}</p>

    <p>The similarity of the new file uploaded to the corpus is  </p>
    <p>{{ new_file_correlation }}</p>

     {%  if (base_csa_correlation-new_file_correlation)/base_csa_correlation < 0.1 %}
     <p>The files are of the <b>same class </b></p>
     {% endif %}

      {%  if (base_csa_correlation-new_file_correlation)/base_csa_correlation > 0.1 %}
     <p>The files are of  <b> different classes </b></p>
     {% endif %}


     <p> </p>



 {% endblock content %}


